{% extends "base.html" %}

{% block content %}
    <h4 style="text-align: center;">Seguimiento Estadístico</h4>
    <div class="row">
        <h5>Visualizaciones Vídeos</h5>
        <div class="col-md-4">
            <div id="chart1"> </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            chart: {
              type: 'line'
            },
            series: [{
              name: 'sales',
              data: [30,40,35,50,49,60,70,91,125]
            }],
            xaxis: {
              categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
            }
          }
          
          var chart = new ApexCharts(document.querySelector("#chart1"), options);
          
          chart.render();
    </script>
{% endblock js %}